[2013-06-04 04:05] DLu opened #8 "Intensity Filter Breaks with Big Freaking intensities"
If intensities in a laser scan are large enough, intensity filter will segfault.

Given an intensity of 3e20 (for example), so [this line](https://github.com/ros-perception/laser_filters/blob/groovy-devel/include/laser_filters/intensity_filter.h#L96) results in an integer so large that it overflows. However the negative index results in the segfault [here](https://github.com/ros-perception/laser_f

[2013-06-04 16:51] mintar commented on #8
Hi David, I've chosen a slightly different approach in my pull request, so we don't have to rely on the integer overflow producing a negative number.

[2013-06-04 16:53] DLu commented on #8
Good call. Thanks!

[2013-06-04 16:54] mintar commented on #8
Wow, that was quick! :-)

[2013-06-05 07:22] vrabaud commented on #8
Sorry for the delay, GSOC keeps us busy these days :)
The histogram is actually for debug purposes only. @mintar patch was modifying the filtered_scan. Is that a desired behavior ? I did that instead: 2da0e525b1bd2c58a5269901eb57325fece1cd9e

Please review and close the bug appropriately.

[2013-06-05 10:11] mintar commented on #8
@vrabaud Thanks, this works. I didn't care about modifying the filtered_scan, because the relevant points are removed anyway by the line before (by setting the range to max + 1), so the intensities that I modified should be ignored anyway. That behaviour isn't "desired", it shouldn't matter one way or the other.

I don't have the permissions to close this issue, but I just verified it works now, s

[2013-06-05 10:59] vrabaud commented on #8
cool, thx for the feedback !

[2013-06-05 10:59] #8 closed, assigned to nobody

[2014-03-04 19:13] tfoote opened #15 "laser_filters 1.6.13 released in indigo doesn't work on hydro"
If this should either be forked for indigo and renumbered or fixed in hydro: https://github.com/ros/rosdistro/commit/ee2fb5b21991714ed31159688fa3c7b24f300db9

Error:

[code]

[2014-03-04 20:16] vrabaud commented on #15
fixed in 4dced72a562c04010d9edb0e97aed2527b587271

[2014-03-04 20:16] #15 closed, assigned to nobody

[2015-01-13 13:17] garaemon opened #21 "scan_to_cloud_chain produces large-sphere if ~high_fidelity:=false"
I think this is a bug of laser_geometry...
- high_fidelity:=false
  ![sphere-bug](https://cloud.githubusercontent.com/assets/40454/5721195/de6bd57e-9b71-11e4-8eb5-3b19be544af8.png)
- high_fidelity:=true
  ![nonsphere](https://cloud.githubusercontent.com/assets/40454/5721196/dfa0d322-9b71-11e4-9693-ebd6775394ce.png)

[2015-01-14 22:37] vrabaud commented on #21
Actually, it seems that laser_max_range is deprecated in the code but is still used when high_fidelity is false. Do you need that parameter ?

[2015-01-14 22:40] tfoote commented on #21
This looks like you're spinning a laser relatively quickly. Enabling high_fidelity projection will enable interpolated position of the laser for each point sampled in the scan.  Without that option it transforms all points in a scan at a single point in time. With that flag off, it is much lower computation for the transformation but it trades off the assumption that the motion of the laser is neg

[2015-01-16 14:28] garaemon commented on #21
I uploaded [bag file](www.jsk.t.u-tokyo.ac.jp/~ueda/bags/2015-01-16-23-19-50-scan-to-cloud.bag) and [launch file](https://gist.github.com/garaemon/ecb0929b02e1a6c5ec34).

`/multisense/lidar_scan_cloud_filtered_low_fidelity` and `/multisense/lidar_scan_cloud_filtered_high_fidelity` are the topics where I see this issue.

[2015-04-22 05:03] wjwwood opened #23 "Jade Release"
@jonbinney maybe this was the one you were talking about... can you release it too :smile:

[2015-04-22 06:32] jonbinney commented on #23
Will do

[2015-04-23 04:05] jonbinney commented on #23
Released: https://github.com/ros/rosdistro/pull/8098

Will close this after it builds successfully.

[2015-04-24 00:23] btshrewsbury opened #24 "incident_angle_correction introduces additional error"
incident angle correction seems to increase the error we receive from our lidar scans. Perhaps it should be off by default?

[2015-04-24 07:02] jonbinney commented on #23
Built and is now in shadow fixed.

[2015-04-24 07:02] #23 closed, assigned to nobody

[2015-05-11 22:03] jonbinney opened #25 "Update maintainer email address"

[2015-07-30 09:47] tkruse opened #26 "laser_filters sources not in distribution.yaml for jade"
To reproduce:

[code]

Also see
https://github.com/ros/filters/issues/11

[2015-07-30 09:58] jonbinney commented on #26
Ah - looks like I missed something in the release. WIll fix this.

[2015-08-05 00:36] jonbinney commented on #26
Re-released with source and doc info: https://github.com/ros/rosdistro/pull/9077

Will close this issue after that is merged and the fix is confirmed.

[2015-08-05 00:48] jonbinney commented on #26
PR was merged; laser_filters now has source repo info in the distribution.yaml. @tkruse I re-ran the command you gave and it now finds laser_filters now. Should be all good.

[2015-08-05 00:48] #26 closed, assigned to jonbinney

[2015-08-31 09:53] stwirth opened #29 "Remove deprecated warning from footprint filter"
Although there might be a "newer" version of that filter in pr2_navigation_perception, this simple filter is still useful for circular shaped robots with off-centered lasers.

[2015-08-31 19:17] jonbinney commented on #29
Agreed.  Want to submit a PR and I'll merge it?

[2016-02-29 10:11] asimay opened #40 "pointcloud filters bug find."
[ERROR] [1456740060.773385720]: Couldn't find filter of type laser_filters/PointCloudFootprintFilter
when use laser_filters/PointCloudFootprintFilter filter.
find the reason: scan_to_cloud_filter_chain.cpp listen the Pointcloud2 message, but point_cloud_footprint_filter.h send & plugin files registered with Pointcloud message. message is not coincide with each other, so compile is no error, but ru

[2016-02-29 16:39] jonbinney commented on #40
Sounds like `laser_filters/PointCloudFootprintFilter` was never updated to use the PointCloud2 message type. Shouldn't be too hard to fix; any chance you could submit another PR for this? :-)

[2016-02-29 21:45] jonbinney commented on #40
Actually it looks like that filter is deprecated. Can you use "footprint filter" instead?

https://github.com/ros-perception/laser_filters/blob/indigo-devel/include/laser_filters/footprint_filter.h

It operates directly on laser scans.

[2016-03-01 10:17] asimay commented on #40
yes. footprint filter maybe able to work. because it listens the laserscan massage, not Pointcloud massage, i just want to test point cloud filter. so maybe this project still need more development about newer's filters code.

[2016-03-16 16:44] jonbinney commented on #29
Fixed by https://github.com/ros-perception/laser_filters/pull/43

[2016-03-16 16:44] #29 closed, assigned to nobody

[2016-03-26 21:10] jonbinney opened #44 "Release into kinetic"
Need to wait for filters to build first.

[2016-03-27 06:23] jonbinney opened #45 "Merge jade-devel and indigo-devel"
There actually haven't been any commits to jade-devel since it branched from indigo-devel, so i've deleted it and re-released from indigo-devel branch into jade. I'll also use the indigo-devel branch for kinetic.

[2016-03-27 06:23] #45 closed, assigned to nobody

[2016-03-27 06:32] jonbinney commented on #44
Filters is good to go now in shadow-fixed, but we're blocked on laser_geometry, which is blocked on tf.

[2016-03-27 06:55] jonbinney commented on #25
Done

[2016-03-27 06:55] #25 closed, assigned to jonbinney

[2016-04-03 22:49] jonbinney commented on #44
Just released laser_geometry; waiting until it builds.

[2016-04-07 01:18] jonbinney commented on #44
https://github.com/ros/rosdistro/pull/11014

[2016-04-07 01:18] #44 closed, assigned to jonbinney

[2016-05-19 16:51] stwirth opened #48 "Release please?"
@jonbinney could you run bloom please? Thanks!

[2016-05-19 17:17] jonbinney commented on #48
Sure, I'll do a release today

[2016-05-19 18:23] stwirth commented on #48
Thank you!

[2016-05-21 03:17] jonbinney commented on #48
Forgot to do this yesterday. Done now:

Indigo: https://github.com/ros/rosdistro/pull/11590
Kinetic: https://github.com/ros/rosdistro/pull/11591

[2016-05-21 03:17] #48 closed, assigned to nobody

[2017-04-05 17:08] v4hn opened #50 "specifying LaserScanAngularBoundsFilter can result in *the wrong points* being removed"
The filters package requires plugins to be specified with their package name as a prefix:
https://github.com/ros/filters/blob/hydro-devel/include/filters/filter_chain.h#L202

If this is not the case, such as e.g. [in the PR2 navigation config](https://github.com/PR2/pr2_navigation/blob/342cfdb1e03e98e67a2a66e604852c128fc295cd/pr2_navigation_perception/config/tilt_laser_filters.yaml), @tfoote [made

[2017-04-05 17:28] jonbinney commented on #50
@v4hn thanks for describing in detail how this happens! This should have been happening for quite a while, right? Did this just start happening on PR2s?

Since renaming filters now could break other things, and there are lots of robots besides the PR2, I'm not crazy about that. Likewise making the plugin finding logic stricter to require package names would likely break lots and lots of existing c

[2017-04-05 17:30] jonbinney commented on #50
One possible fix: we could error out in the case that multiple plugins contain the filter name from the yaml. I suppose that would only break robots that already have a config that could be breaking things.

[2017-04-05 17:30] jonbinney commented on #50
Also, what version of ROS are PR2s running these days? Is it a version still built by the buildfarm?

[2017-04-05 17:39] v4hn commented on #50
Morning @jonbinney :)

There is a ... partially incomplete ... indigo release of the PR2 that got released by Clearpath.
This is one of the things that are still wrong there. As you can see above, I just filed a request with the PR2 repo too. So yes, obviously this should be fixed there.

However, due to the bizarre nature of this error, I wanted to point it out to this repo too.
I believe it woul

[2017-04-05 18:48] jonbinney commented on #50
Since the plugin finding code is in the filters package, I've created an issue there as well: https://github.com/ros/filters/issues/14

[2017-04-08 00:45] jonbinney commented on #50
Filter finding in the filters package has now been updated to require the package name and exact filter name. When the PR2s are updated to Lunar, there will at least be a better error message :wink:

[2017-04-08 07:26] v4hn commented on #50
Thank you :)

*Whether* the pr2 will be upgraded to lunar is an entirely different story...

[2017-05-17 08:47] pijemcolu commented on #21
I had a very similar issue with a tilting lidar, where I would get a complete sphere at max range of the lidar. I simply fixed it by introducing another range filter dropping points max range -1.

[2017-07-19 10:26] spuetz opened #54 "laser_filters/LaserArrayFilter Bug"
Defining only the param range_filter_chain causes an error: "process has died!" Right now you need both: range_filter_chain, intensity_filter_chain.

Using the MedianFilterFloat and not MultiChannelMedianFilterFloat is also not possible. Couldn't find filter of type filters/MedianFilterFloat. MultiChannelMedianFilterFloat is working.

[2017-07-19 17:07] jonbinney commented on #54
What version of ros are you on? What are you launching (text of config files would be useful). Are you using this package from source or from debs?

[2017-07-19 19:26] spuetz commented on #54
We use kinetic, with the Debian package. For example, the following config (without `intensity_filter_chain`) does not work:

[code]

[2017-07-19 20:43] jonbinney commented on #54
I haven't been able to reproduce your problem yet. Does it crash immediately, or only when you receive laser scans? Any chance you can provide a gdb backtrace? Are there any errors other than "process has died!"? Can you copy/paste the entire terminal output?

[2017-08-03 17:03] quangle2110 opened #55 "PointCloudFootPrintFilter can't be found"
Hi,

when I tried to follow the tutorial on laser_filter webpage, I can't launch the file properly since it kept return error: Couldn't find filter of type PointCloudFootprintFilter. I did try to add PR2 as in the tutorial but it still didn't work. My laser_filters version is 1.8.3.

Can you help me with this? Thank you.

[2017-08-31 19:12] jonbinney opened #57 "Do release"
To add this backwards compatible feature:
https://github.com/ros-perception/laser_filters/pull/56#issuecomment-326207676

[2017-09-07 01:47] jonbinney commented on #57
Released version 1.8.5 into indigo, kinetic, and lunar

- Indigo release: https://github.com/ros/rosdistro/pull/15881
- Kinetic release: https://github.com/ros/rosdistro/pull/15879
- Lunar release: https://github.com/ros/rosdistro/pull/15880

[2017-09-07 01:47] #57 closed, assigned to jonbinney

[2018-04-10 17:40] clalancette opened #64 "Release into Melodic"
It looks like all of the dependencies for this package are available in Melodic, so it would be great to get this released.  Thanks in advance.

[2018-04-11 01:35] jonbinney commented on #64
@clalancette I'll try and get to this tonight.

[2018-04-11 04:15] jonbinney commented on #64
Argh, didn't finish. Will try again tomorrow. I want to build this first, but need to setup docker since I don't have an 18.04 machine handy.

[2018-04-11 11:16] clalancette commented on #64
Great, thanks for taking a look.

Not sure if it helps at all, but I've been pretty happy using LXC to do my development on bionic: https://help.ubuntu.com/lts/serverguide/lxc.html .  You'd basically do:

[code]

And then you can get into the container with:

[code]

[2018-04-12 03:48] jonbinney commented on #64
Got my container up and running, but didn't have time to test. Went ahead and released anyway; maybe we get lucky and the build works? If not I'll investigate further.

[2018-04-12 15:50] jonbinney commented on #64
It built! Hooray!

[2018-04-12 15:50] #64 closed, assigned to nobody

[2018-10-25 06:06] frank770504 opened #65 "Core Dump Issue from Using Debian Package"
Hello,

Our project has used this package for along time, but, this morning, we met a core dump issue just after ros-kinetic update.

`[laser_filters_front_-4] process has died [pid 201, exit code -11, cmd /opt/ros/kinetic/lib/laser_filters/scan_to_scan_filter_chain scan:=front_scan_original scan_filtered:
=front_scan_filtered_ __name:=laser_filters_front_ __log:=/root/.ros/log/f513d82c-d80c-11e8-

[2018-10-25 14:52] jonbinney commented on #65
I've not seen this but I'm usually on melodic now. `-11` means a segmentation fault - maybe there was a change in the `filters` ABI? Could you try running `sudo apt-get update && sudo apt-get dist-upgrade` and see if it still happens?

[2018-12-19 11:15] abylikhsanov opened #66 "Can't locate node laser_scan_filters"
I want to filter the angles of the laser scans and wrote a launch file:
[code]

However, when I try to execute it, I get this error:
`ERROR: cannot launch node of type [laser_filters/laser_scan_filters]: can't locate node [laser_scan_filters] in package [laser_filters]`

Which is quite strange as there is a c++ executable in CMakeLists.

Any thoughts?

[2018-12-19 21:25] jonbinney commented on #66
I'd suggest asking this on ROS answers - sounds like a problem with your catkin workspace or launchfile syntax, not with the code.

[2018-12-19 21:25] #66 closed, assigned to nobody

[2019-02-28 08:37] YoshuaNava opened #69 "Convention for calling filter plugins not followed in all files"
Hi,
I'm a user of the filters, and after switching to ROS Melodic I'm getting warnings about the laser filter files not specifying the parent owner of their plugins.

An example:
[code]

I've checked the files in your repo, and noticed that [one of the yaml files](https://github.com/ros-perception/laser_filters/blob/indigo-devel/test/test_scan_filter_chain.yaml) complies with the <package_name>/<f

[2019-04-01 09:05] Patrick-Lascombe opened #71 "Using laser filter as a nodelet"
Good morning,

I wish to use laser_filters/LaserScanAngularBoundsFilterInPlace as a nodelet inside the nodelet manager that manage my laser scan. Is it possible or did someone already tried something like this ?

Thanks for your help

[2019-06-20 14:35] Jailander opened #78 "Inverse Box Filter or ROI filter"
Hi,

I was wondering why there isn't any **inverse** Box Filter?
I mean a filter that filters out all measurements outside of the box or **region of interest**, it seems that it could be done just as a copy of the Box filter plugin but changing this [line](https://github.com/ros-perception/laser_filters/blob/indigo-devel/src/box_filter.cpp#L177)
to: `if(!inBox(point)){`.

Is there any way of alrea

[2019-06-20 20:41] jonbinney commented on #78
@Jailander i think it would be even easier to just add this feature to the existing box filter by adding an "invert_selection" parameter to the filter which negates that check. And if that param defaults to false, then adding it won't break any existing use cases. If you're interested, go ahead and make a PR.

[2019-06-21 09:22] Jailander commented on #78
Oh that is a good idea :+1: , I'll make the PR when I test it

[2019-06-25 10:07] Jailander commented on #78
Hi I made the PR as promised it works like a charm for me :+1: thank you for your suggestion

[2019-06-25 16:10] jonbinney commented on #78
Thanks @Jailander ! I'll take a look!

[2019-07-02 09:18] Jailander commented on #78
I saw the PR has been merged, thank you will close this issue :)

[2019-07-02 09:18] #78 closed, assigned to nobody

[2019-09-02 04:06] athish-t opened #81 "boxFilter invert param not usable in melodic"
I am using ROS Melodic and I'm trying to use the `invert` param in box_filters which was added in #79
I upgraded the `laser_filters` package by `sudo apt-get update && sudo apt-get install ros-melodic-laser-filters`, even tried uninstalling and installing again.
But I'm still not able to use the parameter. Perhaps the debian distribution has not been updated to the latest version yet?

[2019-09-03 16:28] jonbinney commented on #81
Yeah, there hasn't been a release since that PR. I'll try to get one done in the next week.

[2019-11-06 07:32] athish-t commented on #81
Hi, @jonbinney ..any updates on this?

[2019-11-07 19:14] jonbinney commented on #81
@athish-t thanks for the reminder! I just did the release: https://github.com/ros/rosdistro/pull/22909

It will take a few days to make it into the "testing" apt repository, and then will get into the "public" apt repo after the next sync (tends to happen every few weeks)

[2019-11-07 19:14] #81 closed, assigned to nobody

[2019-11-21 10:57] gstavrinos opened #86 "Box filter not filtering noise"
I am using the box filter with a Hokuyo  UST-10LX (10m maximum measuring distance). Sometimes the sensor returns values with a much larger value than the maximum one (>65m). Of course, this is just noise and should be disregarded. The problem is, that **I need** to use the range filter complementary to the box filter in order to have those "garbage" values disappear, because box filter alone, won'

[2019-11-21 11:07] gstavrinos commented on #86
In order to make my problem clearer, here is a quick example.

This is part of the ranges vector with both the box filter and ranges filter:

[code]

And this is the same part without the range filter:

[code]

Notice that in the case of the box filter without the range filter, the inf values are the noisy 65.53299713134766 value. I would expect the box filter to replace these values with nan.

[2019-11-29 11:33] kjitender469 opened #87 "LaserScanRangeFilter not working."
My launch file is:

<launch>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain"
      name="laser_filter">

    <rosparam command="load" file="$(find rplidar_filter)/rplidar_range_filter_config.yaml" />
    <remap from="scan_filtered" to="range_scan" />

  </node>
</launch>

My rplidar_range_filter_config.yaml is :

scan_filter_chain:
- name: range_filter
  type: laser_filters/LaserScanR

[2020-04-03 07:57] ahcorde opened #95 "Release laser_filters to Noetic?"
Would you mind releasing laser_filters to ROS Noetic?  It looks like all of its dependencies have been released, and recursively 8 repos need it.

This changes should be enough https://github.com/ros-perception/laser_filters/pull/94

[2020-04-06 03:57] jonbinney commented on #95
Done: https://github.com/ros/rosdistro/pull/24365

[2020-04-06 03:57] #95 closed, assigned to nobody

[2020-04-07 16:44] nlimpert commented on #86
I had a very similar problem with SICK lasers showing sensor noise with points very similar to yours.
In my situation the noisy beams were at least within the sensor's maximum range but they caused quite some trouble during navigation (phantom obstacles).
So I tried to configure the `ScanShadowsFilter` to my needs but didn't really succeed to get a robust and reliable setup working. Then I ended u

[2020-04-10 09:51] gstavrinos commented on #86
Hey @nlimpert , thanks for the heads up! As I said in my original post, I hacked my way through the problem by using the range filter in addition to the box filter. I will definitely keep in mind your new filter though. Thanks again!

[2020-06-01 20:29] AabedSolayman opened #98 "Citing this package"
Hello,
I would like to know what is the best way to cite this package for academic purposes.
Thanky you

[2020-06-01 20:35] jonbinney commented on #98
Hi @AabedSolayman - I don't think there is a publication associated with this package. Perhaps just include the website as in https://blog.apastyle.org/apastyle/2015/01/how-to-cite-software-in-apa-style.html

[2020-06-01 20:41] AabedSolayman commented on #98
ok, thank you!

[2020-06-01 20:41] #98 closed, assigned to nobody

[2020-06-03 18:39] reinzor opened #99 "Release"
Can we get an updated release for `Melodic`/`Noetic`?

[2020-06-03 18:57] jonbinney commented on #99
Done

Melodic: https://github.com/ros/rosdistro/pull/25299
Noetic: https://github.com/ros/rosdistro/pull/25300

[2020-06-03 18:57] #99 closed, assigned to nobody

[2020-10-29 17:40] pooraniravindhiran opened #100 "Will the laser_speckle_filter look at outliers and give them value equal to their neighbours?"

[2020-10-29 17:40] pooraniravindhiran commented on #100
Need some clear documentation on that. Not able to follow with the params

[2020-10-29 18:36] jonbinney commented on #100
From http://wiki.ros.org/laser_filters#LaserScanSpeckleFilter

"This filter removes outliers in a sensor_msgs/LaserScan. There are two filter methods that are available for this filter. These points are "removed" by setting the corresponding range value to NaN.: "

Does that answer your question?

[2020-10-29 18:36] jonbinney commented on #100
(it doesn't set them to the value of their neighbors, it sets them to NaN.)

[2021-01-29 13:31] Patrick-Lascombe opened #103 "ROS 2 pcl_ros dependencies does not exist"
Hello everyone,

In the ROS2 branch, the point_cloud_footprint_filter include "pcl_ros/transforms.hpp". But pcl_ros does not exist anymore in ros2 foxy. So the package does not pass the compilation.

Is anyone having the same problem as me ? Or do I simply comment the include and plugin lib export in pointcloud_filters to pass the compilation ?

Thanks for your help

[2021-01-29 23:47] jonbinney commented on #103
Good question. I haven't actually used this package in foxy. @hangst did you get things working on foxy?

[2021-01-30 01:14] hangst commented on #103
The `pcl_ros` package does have a `foxy-devel` branch. I believe it is not released as binary, so you will have to compile from [sources](https://github.com/ros-perception/perception_pcl/tree/foxy-devel/pcl_ros) manually.

Alternatively, as you mentioned, if you are not planning to use `scan_to_cloud_filter_chain`, you may modify `CMakelists.txt` and `package.xml` to compile without `pcl_ros`.
[co

[2021-02-01 08:28] Patrick-Lascombe commented on #103
Alright I'll keep it commented for now
Thanks for your help

[2021-02-01 08:28] #103 closed, assigned to nobody

[2021-02-10 18:03] jonbinney opened #106 "Port counter-clockwise laser support to ROS2 branch"
Cherry pick https://github.com/ros-perception/laser_filters/pull/102

[2021-03-09 13:52] AliaChe opened #108 "Bug: package build fails, header files not found"
Hello,

I'm trying to test this package using ros foxy. I have clone this repos and the filters repos [https://github.com/ros/filters/tree/ros2](url).
I verified that all the dependencies are installed in my pc, except for pcl_ros and rostime. I commented the dependencies to these two packages as recommended in #103.

However, I still can't build the package successfully, the error is :
[code]
Tha

[2021-03-09 21:44] tuxnese commented on #108
I have been able to work around it by adding set(BUILD_TESTING false) at the beginning of the test section of the CMakeLists.txt file.

[2021-03-10 12:43] AliaChe commented on #108
This doesn't work for me, also if the test failed doesn't it mean that the execution will fail?

[2021-03-11 08:53] tuxnese commented on #108
The filters work fine in my case. I think that the test files have includes that are not needed by the rest of the package.

[2021-03-11 15:30] AliaChe commented on #108
Thank you for your reply @tuxnese . I fixed this error by adding
 " ament_export_include_directories(include) "  in the CMakeList.txt of the package filters, then by desactivating the test as you suggested. Now I'm running into another error when trying to use the filters
[code]

Any ideas?

[2021-03-12 18:55] jonbinney commented on #108
Looks like there is a PR on the filters repo to add the ament_export_include_directories: https://github.com/ros/filters/pull/46 . I commented on that issue to see if we can get it merged.

@AliaChe could you open a separate issue for the new bug you're seeing?

[2021-03-12 19:06] AliaChe commented on #108
Great news for the PR, I was going to open one.

okay, I'll open a separate issue for the new bug. Thx!

[2021-03-12 19:10] AliaChe opened #109 "LaserArrayFilter fails to find MultiChannelMedianFilterFloat library from filter package"
Hello,

I'm trying to test this package using ros foxy.  I've got an error when using the LaserArrayFilter, which claims to not find the necessary librairies from the "filters" package.

Here is the error:

[code]

[2021-03-12 21:14] jonbinney commented on #109
@hangst did you have this problem when you used laser filters on foxy?

[2021-03-13 01:59] jonbinney commented on #109
Renamed for issue to be more specific. I suspect this is the solution: https://github.com/ros/filters/pull/44

@AliaChe could you cherry pick the commit from that pull request and see if it fixes the problem?

[2021-03-13 02:26] hangst commented on #109
Yes, I faced this issue with released version of `ros/filters` package.

Following the warning messages from `pluginlib.ClassLoader`, I managed to fix the issue by modifying `default_plugins.xml`, and therefore proposed PR at ros/filters#44.

[2021-03-15 10:50] AliaChe commented on #109
This solved the issue. Thanks!

[2021-03-16 10:27] AliaChe commented on #108
Issue solved

[2021-03-16 10:29] AliaChe commented on #109
Issue solved using ros/filters #44

[2021-03-16 10:29] #109 closed, assigned to nobody

[2021-03-16 10:31] AliaChe commented on #109
Issue solved

[2021-03-16 11:27] AliaChe opened #110 "Scan_to_cloud_filter_chain not working in ros foxy"
Hi again,

I managed to test all filters in the scan_to_scan_filter_chain. However, the scan_to_cloud_filter_chain is not working. I'm using the same config as described in the wiki[http://wiki.ros.org/laser_filters](url):

[code]
However, I got an error when the params.yaml got parsed :

[code]
Does anyone get this to work? Any ideas?

Thank you!

[2021-03-19 22:32] jonbinney commented on #108
I'm going to leave this issue open until the filters PR gets merged, just so we have a place to track the problem here.

[2021-04-09 18:03] Teo-Cardoso opened #112 "How use LaserScanAngularBoundsFilter to select the short section"
I have a Lidar that its front it is the angle_min and angle_max, and I would like to select just the section in yellow ( image ). However, the parameters lower_angle and upper_angle can't select this ( or I don't know how to do it ). I just can select between -pi -> 0 -> pi.

![lidar](https://user-images.githubusercontent.com/34777371/114221759-17241a80-9944-11eb-9ffa-b517fd368553.png)

How can I

[2021-04-22 11:50] #112 closed, assigned to nobody

[2021-06-20 01:32] jonbinney commented on #108
filters PR hasn't been merged yet; I've bumped the maintainer.

[2021-06-20 01:33] #100 closed, assigned to nobody

[2021-07-20 19:33] rodrigogic commented on #112
Hi @Teo-Cardoso, I'm facing the same issue. Did you find any solutions for this?

[2021-07-20 20:04] Teo-Cardoso commented on #112
@rodrigogic

Yes, now I'm using the `LaserScanAngularBoundsFilterInPlace` instead.
This one removes the points inside of the interval instead of outside ( as `LaserScanAngularBoundsFilter` does )
I select from -1.5707 to 1.5707 and these points are removed, remaining only the -1.507<-->-3.14/3.14<-->1.5707

[2021-07-23 11:47] rodrigogic commented on #112
@Teo-Cardoso thanks a lot! I'll try the same here.

[2021-08-04 16:24] jonbinney commented on #108
Fix was merged upstream and release.

[2021-08-04 16:24] #108 closed, assigned to nobody

[2021-10-08 19:56] peci1 opened #131 "Release"
Could I ask for a new Melodic/Noetic release? There seems to have been quite some development since the last one (more than a year now).

[2021-10-11 15:12] DLu opened #132 "ROS 2 Release"
Looks like there's been a lot of good work on the `ros2` branch. Has it been bloomed to the build farm yet? Particularly looking for a galactic release.

[2021-10-13 17:09] jonbinney commented on #132
Hasn't been released to galactic or rolling yet - let me try it out on those distros to make sure it compiles;  then I'll release.

[2021-10-13 17:13] jonbinney commented on #132
Oh I remember now.... I switched CI over to use the filters package from source, because the released version of that package had an issue. Let me try reverting the CI change and make sure CI passes.

[2021-10-13 17:16] jonbinney commented on #132
Reverted the CI change here: https://github.com/ros-perception/laser_filters/pull/133

If that passes, I'll merge it and then do releases.

[2021-10-13 22:11] jonbinney commented on #132
I made a release into rolling: https://github.com/ros/rosdistro/pull/30981

I had to create a new release repo and new track, so I'm going to wait until that PR gets merged into rosdistro before doing the galactic release.

[2021-10-13 23:24] jonbinney commented on #132
Second attempt: https://github.com/ros/rosdistro/pull/30982

[2021-10-18 14:08] DLu opened #134 "ROS 2 Branch Missing Dependency on ament_cmake_auto"
Causing failing build here: https://build.ros2.org/view/Rbin_uF64/job/Rbin_uF64__laser_filters__ubuntu_focal_amd64__binary/7/console

[2021-10-18 16:25] jonbinney commented on #134
That's what I get for using desktop-full as the base docker image in CI... builds are super quick but i don't catch bugs like this. Fix incoming.

[2021-10-18 16:29] jonbinney commented on #134
PR Here: https://github.com/ros-perception/laser_filters/pull/135

[2021-10-18 17:02] jonbinney commented on #134
Fix merged, new rolling release created: https://github.com/ros/rosdistro/pull/31005

[2021-10-18 17:02] #134 closed, assigned to jonbinney

[2021-10-18 18:29] DLu commented on #134
:+1:

[2021-10-18 20:44] jonbinney commented on #132
Looks like the rolling release succeeded this time: https://build.ros2.org/job/Rdev__laser_filters__ubuntu_focal_amd64/2/

[2021-10-18 20:47] jonbinney commented on #132
Released version 2.0.1 into galactic: https://github.com/ros/rosdistro/pull/31007

I'll close this issue once it builds successfully.

[2021-10-19 20:44] jonbinney commented on #132
Looks like it built: https://build.ros2.org/job/Gbin_uF64__laser_filters__ubuntu_focal_amd64__binary/

[2021-10-19 20:44] #132 closed, assigned to nobody

[2021-10-20 15:01] DLu commented on #132
:tada:

[2021-10-27 21:15] jonbinney commented on #131
Yes - I've got a couple PRs I want to merge first, then I'll release. I've created a noetic-devel branch so that I could merge the header path changes in https://github.com/ros-perception/laser_filters/pull/128 .

@peci1 are you actively using both melodic and noetic? I'm trying to decide how aggressively I should backport commits from noetic-devel to the indigo-devel branch so that they get relea

[2021-10-27 21:17] peci1 commented on #131
Thanks. We're actively using Melodic and will be slowly switching to Noetic, so we're interested in having the changes in both. Melodic still has 2 years of lifetime, so I think it makes sense to backport things.

[2021-11-04 00:18] jonbinney commented on #131
Melodic release here: https://github.com/ros/rosdistro/pull/31119

I've updated the source and doc branches to match the branch that is actually released into melodic: kinetic-devel.

After that PR gets merged I'll do the noetic release from the new noetic-devel branch.

[2021-11-07 00:11] jonbinney commented on #131
Noetic release here: https://github.com/ros/rosdistro/pull/31149. Noetic version numbers are now `1.9.x` to distinguish them from kinetic versions which are `1.8.x`

[2021-11-15 08:55] fig-shimooka opened #142 "end"

[2021-11-15 09:03] #142 closed, assigned to nobody

[2021-11-15 09:04] hiroyuki-s1 opened #143 "How to compile with Eloquent (Ubuntu18.04)?"
How to compile with Eloquent (Ubuntu18.04)?
I have a problem with Boost references.
I modified the CMakeLists.txt file as follows, but it does not compile.

CMakeLists.txt

[code]

result
[code]

[2021-11-15 16:54] jonbinney commented on #143
Which branch of this repo are you using? What ros distro are you on?

[2021-11-16 00:11] hiroyuki-s1 commented on #143
I'm trying to use the ros2 branch with Eloquent ( Ubuntu18.04 ).

[2021-11-17 02:14] jonbinney commented on #143
I'm not sure what's going on there.... I'm on foxy/galactic/rolling on 20.04, and I'm not seeing this. If I have time I'll try and look a bit deeper, but it's been a while since eloquent went end-of-life.

[2022-01-04 13:34] NikolasE commented on #110
Is it possible that it's only the missing indentation after "filter1:"?

[2022-01-04 13:39] NikolasE opened #147 "Is there an inverted Box-Filter?"
I would like to use the box-filter to remove everything but(!) the points in front of the robot, but in the current implementation, the points in the box are deleted:

[code]

Is there already in inverted version? (otherwise I'll create a small PR with an additional "keep_box_points"-parameter that defaults to false)

[2022-01-17 23:11] nuclearsandwich opened #150 "laser_filters in rolling fails to build on rhel targets"
The package laser_filters in rolling has been detected as not building on all platforms in the buildfile rhel. The release manager for rolling will consider disabling this build if it continues to fail to build.
- jenkins_urls:
  - [rhel 8 x86_64](https://build.ros2.org/view/Rbin_rhel_el864/job/Rbin_rhel_el864__laser_filters__rhel_8_x86_64__binary)
This is being filed because this package is about

[2022-01-22 21:44] PhilipAmadasun opened #151 "Inquiry on parameters for the filters and how to use this package"
I am trying to use the laser_filters package to filter out fake obstacles that my lidar keeps detecting. I set my paramters in my yaml file and roslaunch the filter from a launch file. I have no idea if I'm doing something wrong because it seems to run but doesn't seem to work. I need help figuring out how to use this package. Here is my yaml file:
[code]

Here is my launch file:
[code]

I suspect

[2022-01-24 01:05] jonbinney commented on #151
@DistroIII this kind of question would be better suited to ROS Answers: https://answers.ros.org/questions/

Could you ask it there instead?

[2022-01-24 01:05] #151 closed, assigned to nobody

[2022-01-24 01:17] jonbinney commented on #150
Hmmmm.... not sure where this could have come from; nothing has changed recently. I'll look deeper if I have time, but it may be a while.

[2022-01-27 04:39] PhilipAmadasun opened #152 "Laser_filter launch file does not do anything when launched, base_scan might be issue?"
I'm using a turtlebot3 which publishes all its LiDAR sensor data to the ```/scan``` topic. I need to use the laser_filters package to clean up the data. I installed the package and this is the launch file I made, according to the example in the wiki to try to use this package.

[code]
I roslaunch the file above and it literally does nothing, I ```rostopic echo /base_scan``` and no information is b

[2022-01-29 13:29] JohnTGZ commented on #147
May I know which branch are you currently on? I think on the "noetic-devel" branch, there should already be a parameter for box_filter to invert "removing" the points.
You can also find the source code that corresponds to this implementation [in box_filter.cpp here](https://github.com/ros-perception/laser_filters/blob/c25f2f738b33f322ffb3bb52f2dc01d74688b233/src/box_filter.cpp#L185):
[code]

[2022-01-29 13:30] JohnTGZ commented on #87
Hi there, could you highlight the problems you are facing and provide some data?

[2022-01-30 14:51] jonbinney commented on #147
I think that @NikolasE is on the ros2 branch; we've had some discussion about porting the invert param to that branch here: https://github.com/ros-perception/laser_filters/pull/148

[2022-01-30 14:54] jonbinney commented on #152
This kind of high level debugging question would be better for ROS answers. Could you ask it there? https://answers.ros.org/questions/

[2022-01-30 14:54] #152 closed, assigned to nobody

[2022-01-30 20:39] PhilipAmadasun commented on #152
@jonbinney I did so [here](https://answers.ros.org/question/395232/turtlebot3-lidar-laser_filter-package-error-reason-new-node-registered-with-same-name/?answer=395343#post-id-395343).

[2022-05-19 03:18] Woz4tetra opened #160 "liblaser_scan_filters.so: undefined symbol: _ZN5boost6system16generic_categoryEv"
I'm getting this error message on ROS galactic when running on the NVidia Jetson Xavier NX:
`[scan_to_scan_filter_chain-10]` [FATAL] [1652930119.877895968] [scan_to_scan_filter_chain]: Could not load library for laser_filters/LaserScanRangeFilter: Failed to load library /home/tj2/ros2_ws/install/laser_filters/lib/liblaser_scan_filters.so. Make sure that you are calling the PLUGINLIB_EXPORT_CLASS m

[2022-05-19 03:52] jonbinney commented on #160
Are you running from debs or source?

[2022-05-19 03:52] jonbinney commented on #160
Just saw you posted the branches you're using, so i guess this is source. Let me try to reproduce.

[2022-05-20 02:22] Woz4tetra commented on #160
That's right I'm building from source

[2022-05-20 05:35] Woz4tetra commented on #160
Not entirely sure what's happening but when I launch laser filters with a namespace, the run time error goes away and it's publishing filtered laser scans.
This is the launch file that causes the crash (imports omitted):
[code]

Here's the launch file that runs without error:
[code]

Another piece of strange behavior, a bunch nodes seem to crash with a similar error message if I run from a tmux se

[2022-05-20 05:46] Woz4tetra commented on #160
It would seem calling setup.bash from .bashrc is causing these weird issues. I've removed it from my .bashrc and am calling it every time I launch a new terminal. When I do that, the tmux issues go away as well as the original issue.

Calling it from a script after the terminal opens also seems to work. I've made a script that looks like this:
[code]
and I call it like this for each terminal: `sou

[2022-05-23 03:28] jonbinney commented on #160
interesting..... i'm not sure why that would happen.

[2022-05-23 03:31] #150 closed, assigned to nobody

[2022-06-12 05:05] Woz4tetra commented on #160
So it seems that the error was just being hidden in the tmux session. The node was running but wasn't applying any laser filters. So it wasn't modifying the laser scan message at all. Running laser filters like this brings the original error message back:
`ros2 run laser_filters scan_to_scan_filter_chain --ros-args --log-level debug -r scan:=/laser/scan -r scan_filtered:=/laser/scan_filtered --par

[2022-06-14 01:52] Woz4tetra commented on #160
I've fixed the issue. Laser filters is now working as expected. I had to define Boost explicitly as a linked library in the filters and laser_filter CMakeLists.txt file.
Patch files here:
https://github.com/frc-88/tj2_ros/blob/dev/ros2/install/fix-filters.patch
https://github.com/frc-88/tj2_ros/blob/dev/ros2/install/fix-laser-filters.patch

[2022-06-14 01:52] #160 closed, assigned to nobody

[2022-06-14 02:00] jonbinney commented on #160
Interesting... any idea why this is an issue specifically on the jetson? I'm not able to reproduce it on arm-linux in a VM

[2022-08-23 16:43] cantolini opened #165 "Would it be possible to chose with what to replace 'error values' for LaserScanBoxFilter?"
When using the LaserScanBoxFilter, we don't have a choice on the replacement of the values inside the filtered box. With this type of filter, the values are replaced by NaN. For my application, I would like to be able to have them replaced by something else.
This can already be done for other filters such as the LaserScanRangeFilter with the upper/lower_replacement_value.

So is there a way we cou

[2022-08-27 19:02] jonbinney commented on #165
Seems like a reasonable feature to add but I'm short on time - could you submit a PR that adds it? To do this you'd need to:
- read a parameter to get the replacement value after line 81 in this file: https://github.com/ros-perception/laser_filters/blob/ros2/include/laser_filters/box_filter.h
- modify line 193 in the same file to use that value instead of always using NaN

The default value for th

[2022-10-06 14:59] bxtbold opened #167 "angular_bounds_filter is not working on ROS2 Foxy"
I have tried running [scan_to_scan_filter_chain](https://github.com/ros-perception/laser_filters/blob/ros2/src/scan_to_scan_filter_chain.cpp) node with the yaml file below, but filtered scan topic is the same as the original topic. I have tried changing the lower and upper angle ranges and it didn't seem to work at all.

[code]

Thank you in advance

[2022-10-07 00:36] bxtbold commented on #167
Solution:
it turned out parameter head name was `filter1` instead of `filter` (silly me)

[code]

[2022-10-07 00:36] #167 closed, assigned to nobody

[2022-10-21 12:38] fantalukas commented on #87
I was facing the same issue (LaserScanRangeFilter was not working). But I managed to fix this issue (problem was in the naming of the node). I will describe my scenario and a solution here. Maybe it could help you as well.

**Expected behavior:**
Ranges of scan data are filtered as requested in YAML file.

**Current behavior:**
Ranges of scan data are not filtered.

**Scenario:**
I used example ca

[2022-11-03 13:16] #147 closed, assigned to nobody

[2022-11-08 03:11] PhilipAmadasun opened #170 "kineic-devel branch issues"
I am having issues with `kinetic-devel` branch package. When I try to launch `median_filter_5_example.launch` is:
`[ERROR] [1667875380.665928716]: Couldn't find filter of type laser_filters/MultiChannelMedianFilterFloat
[ERROR] [1667875381.759529779]: LaserArrayFilter not configured
[ERROR] [1667875381.759594557]: Filtering the scan from time 1667875379.815046787 failed.
[ERROR] [1667875383.523554

[2022-11-22 10:55] borongyuan opened #172 "Wrong default replacement values"
Hi,
I found the default value of lower_replacement_value and upper_replacement_value in LaserScanRangeFilter is 0, not NaN.
This is caused by the implementation of getParam().
[code]
This may also affect other filters.